.master-title {

    color : #0395f7;
    font-size: 50px;

}

.master-subtitle {

color: salmon;
font-size: 35px;

}

.post {

background-color: black;

}

.master-title2{

    color: whitesmoke;

}

.post h2 {

    color: whitesmoke;

}

  








